<p-toast />

<div class="viewport">
  <div class="image">
    <img src="assets/login.png" alt="carteira" />
  </div>
  <div class="form">
    <h2>Cadastre-se</h2>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <p-divider />

      <!-- Campo de nome completo -->
      <div class="flex flex-column gap-2">
        <label for="input-nome">Nome completo</label><br />
        <input
          id="input-nome"
          type="text"
          pInputText
          formControlName="fullName"
          placeholder="Digite seu nome completo"
        />
      </div>

      <!-- Campo de nome de usuário (login) -->
      <div class="flex flex-column gap-2">
        <label for="input-usuario">Usuário</label><br />
        <input
          id="input-usuario"
          type="text"
          pInputText
          formControlName="username"
          placeholder="Digite um nome de usuário"
        />
      </div>

      <!-- Campo de e-mail -->
      <div class="flex flex-column gap-2">
        <label for="input-email">E-mail</label><br />
        <input
          id="input-email"
          type="text"
          pInputText
          formControlName="email"
          placeholder="Digite seu e-mail"
        />
      </div>

      <!-- Campo de senha -->
      <div class="flex flex-column gap-2">
        <label for="input-senha">Senha</label><br />
        <input
          id="input-senha"
          type="password"
          pInputText
          formControlName="password"
          placeholder="Digite sua senha"
        />
      </div>

      <button pButton type="submit">Cadastrar</button>
      <p-divider />
      <button pButton (click)="redirectToLogin()" [outlined]="true">
        Fazer login
      </button>
    </form>
  </div>
</div>
