<p-toast />

<div class="viewport">
  <div class="image">
    <img src="assets/login.png" alt="carteira" />
  </div>
  <div class="form">
    <h2>Login</h2>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <p-divider />
      <div class="flex flex-column gap-2">
        <label for="input-email">Usuário</label><br />
        <input
          id="input-email"
          type="text"
          pInputText
          formControlName="email"
          placeholder="Digite seu usuário"
        />
      </div>

      <div class="flex flex-column gap-2">
        <label for="input-senha">Senha</label><br />
        <input
          id="input-senha"
          type="password"
          pInputText
          formControlName="password"
          placeholder="Digite sua senha"
        />
      </div>

      <button pButton type="submit">Entrar</button>
      <p-divider />
      <button pButton (click)="redirectToCadastro()" [outlined]="true">Cadastre-se</button>
    </form>
  </div>
</div>
